@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2PQw.ttf) format('truetype');
}
.devTools-sidebar {
  --dvt-bg: #fff;
  --dvt-color: #000;
  --dvt-primary: #ff6d5a;
  --dvt-primary-2: #e39388;
  --dvt-primary-bg: #fff5f2;
  --dvt-border-color: rgba(72, 110, 149, 0.14);
  --dvt-width: 600px;
  --dvt-font: 'Roboto Mono', monospace;
  --dvt-blue: #0e2194;
  --dvt-red: #751d1d;
  --dv-method-post: #ad760d;
  --dv-method-get: #2a6e23;
  --dv-method-delete: #9d2929;
  --dv-method-put: #73622b;
  --dv-method-path: #73622b;
  --dv-method-head: var(--dvt-color);
  width: var(--dvt-width);
  right: calc(-1*var(--dvt-width));
  z-index: 999;
  position: fixed;
  height: 100vh;
  background-color: var(--dvt-bg);
  color: var(--dvt-color);
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
  font-family: var(--dvt-font);
}
.devTools-sidebar.open {
  right: 0;
}
.devTools-sidebar .devTools-btn-toggle,
.devTools-sidebar .devTools-btn-terminal {
  position: absolute;
  display: block;
  background: var(--dvt-bg);
  color: var(--dvt-primary);
  box-shadow: 0 0 15px 3px rgba(176, 185, 189, 0.3);
  border-radius: 8px 0 0 8px;
  width: 50px;
  height: 50px;
  left: -50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.devTools-sidebar .devTools-btn-toggle,
.devTools-sidebar .devTools-btn-terminal {
  top: 50%;
}
.devTools-sidebar .devTools-btn-terminal {
  top: 44%;
}
.devTools-sidebar .devTools-header {
  background-color: var(--dvt-primary-bg);
}
.devTools-sidebar .devTools-header .btn {
  font-size: 10px;
}
.devTools-sidebar .devTools-tabs .nav-tabs {
  --bs-nav-tabs-link-active-bg: var(--dvt-primary-bg);
  --bs-nav-tabs-link-hover-border-color: transparent transparent transparent;
  background-color: var(--dvt-bg);
  border-bottom: 1px solid var(--dvt-border-color);
}
.devTools-sidebar .devTools-tabs .nav-tabs .nav-link {
  --bs-nav-link-color: var(--dvt-primary);
  --bs-nav-tabs-link-active-border-color: var(--dvt-border-color) var(--dvt-border-color) transparent var(--dvt-border-color);
  font-weight: bold;
  border-bottom: 0!important;
}
.devTools-sidebar .devTools-tabs .nav-tabs > li > a,
.devTools-sidebar .devTools-tabs .nav-tabs > li > button {
  color: var(--dvt-primary-2);
}
.devTools-sidebar .devTools-tabs .nav-tabs > li > a.active,
.devTools-sidebar .devTools-tabs .nav-tabs > li > button.active,
.devTools-sidebar .devTools-tabs .nav-tabs > li > a:focus,
.devTools-sidebar .devTools-tabs .nav-tabs > li > button:focus,
.devTools-sidebar .devTools-tabs .nav-tabs > li > a:hover,
.devTools-sidebar .devTools-tabs .nav-tabs > li > button:hover {
  color: var(--dvt-primary);
  border-bottom: 2px solid var(--dvt-primary);
}
.devTools-sidebar .devTools-sidebar-body {
  overflow: auto;
  height: 100vh;
  padding-bottom: 50px;
}
.devTools-sidebar .devTools-sidebar-body h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.devTools-sidebar .devTools-sidebar-body .box {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1.25rem;
  --bs-card-title-spacer-y: 1.25rem;
  --bs-card-title-color: #000;
  --bs-card-subtitle-color: #000;
  --bs-card-border-width: 0;
  --bs-card-border-color: #0420451a;
  --bs-card-border-radius: 0px;
  --bs-card-inner-border-radius: calc(4px - 1px);
  --bs-card-cap-padding-y: 1rem;
  --bs-card-cap-padding-x: 1.25rem;
  --bs-card-cap-bg: #f6f8fb;
  --bs-card-cap-color: inherit;
  --bs-card-color: inherit;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--bs-card-bg);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: none !important;
  color: var(--bs-body-color);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}
.devTools-sidebar .devTools-sidebar-body .box .header {
  --header-title-color: var(--dvt-primary);
  --header-title-bg: var(--dvt-primary-bg);
  --header-height: 50px;
  background-color: var(--header-title-bg);
  color: var(--header-title-color);
  padding: 0 10px 0 10px;
  height: var(--header-height);
  line-height: var(--header-height);
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 0;
}
.devTools-sidebar .devTools-sidebar-body .box .header h1,
.devTools-sidebar .devTools-sidebar-body .box .header h2,
.devTools-sidebar .devTools-sidebar-body .box .header h3,
.devTools-sidebar .devTools-sidebar-body .box .header h4 {
  margin: 0 !important;
  font-size: 1rem;
  font-weight: 700;
  color: var(--header-title-color);
  line-height: var(--header-height);
}
.devTools-sidebar .devTools-sidebar-body .box .header h3 {
  font-weight: 700;
}
.devTools-sidebar .devTools-sidebar-body .box > .hr,
.devTools-sidebar .devTools-sidebar-body .box > hr {
  margin-left: 0;
  margin-right: 0;
}
.devTools-sidebar .devTools-sidebar-body .box > .list-group {
  border-bottom: inherit;
  border-top: inherit;
}
.devTools-sidebar .devTools-sidebar-body .box > .list-group:first-child {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  border-top-width: 0;
}
.devTools-sidebar .devTools-sidebar-body .box > .list-group:last-child {
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-width: 0;
}
.devTools-sidebar .devTools-sidebar-body .box > .box-header + .list-group,
.devTools-sidebar .devTools-sidebar-body .box > .list-group + .box-footer {
  border-top: 0;
}
.devTools-sidebar .devTools-sidebar-body .box .box-content {
  color: var(--bs-card-color);
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.devTools-sidebar .devTools-sidebar-body .box .box-title {
  color: var(--bs-card-title-color);
  margin-bottom: var(--bs-card-title-spacer-y);
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.devTools-sidebar .devTools-sidebar-body .box .box-subtitle {
  color: var(--bs-card-subtitle-color);
  margin-top: calc(var(--bs-card-title-spacer-y)*-0.5);
}
.devTools-sidebar .devTools-sidebar-body .box .box-subtitle,
.devTools-sidebar .devTools-sidebar-body .box .box-text:last-child {
  margin-bottom: 0;
}
.devTools-sidebar .devTools-sidebar-body .box .box-link + .box-link {
  margin-left: var(--bs-card-spacer-x);
}
.devTools-sidebar .devTools-sidebar-body .box .box-header,
.devTools-sidebar .devTools-sidebar-body .box .box-heading {
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  color: var(--bs-card-cap-color);
  margin-bottom: 0;
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
}
.devTools-sidebar .devTools-sidebar-body .box .box-header:first-child,
.devTools-sidebar .devTools-sidebar-body .box .box-heading:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}
.devTools-sidebar .devTools-sidebar-body .box .box-header .box-title,
.devTools-sidebar .devTools-sidebar-body .box .box-heading .box-title {
  margin: 0;
}
.devTools-sidebar .devTools-sidebar-body .box .box-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--content-bg);
}
.devTools-sidebar .devTools-sidebar-body .box .box-heading .box-search .form-control {
  min-height: 40px;
}
.devTools-sidebar .devTools-sidebar-body .box .box-heading .box-heading-left .btn {
  position: relative;
  margin: 0 10px 0 0;
}
.devTools-sidebar .devTools-sidebar-body .box .box-heading .box-heading-left .number-count {
  top: -8px;
  right: -8px;
  background: var(--content-bg);
  position: absolute;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  color: #000;
}
.devTools-sidebar .devTools-sidebar-body .box .box-footer {
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
  color: var(--bs-card-cap-color);
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
}
.devTools-sidebar .devTools-sidebar-body .box .box-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}
.devTools-sidebar .devTools-sidebar-body .box .box-collapse {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid var(--content-bg);
  border-left: 30px solid transparent;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index: 9;
  opacity: 0;
  transition: all 0.3s ease;
}
.devTools-sidebar .devTools-sidebar-body .box .box-collapse i {
  position: absolute;
  right: 4px;
  top: -26px;
  color: var(--theme-color);
}
.devTools-sidebar .devTools-sidebar-body .box .box-collapse.active {
  border-top-color: 30px solid var(--theme-color);
  cursor: pointer;
  opacity: 1;
}
.devTools-sidebar .devTools-sidebar-body .box .box-collapse.active i {
  color: #fff;
}
.devTools-sidebar .devTools-sidebar-body .box:hover .box-collapse {
  border-top-color: 30px solid var(--theme-color);
  opacity: 1;
}
.devTools-sidebar .devTools-sidebar-body .box:hover .box-collapse i {
  color: #fff;
}
.devTools-sidebar .devTools-sidebar-body .nav-tabs .nav-link {
  border-radius: 0!important;
}
.devTools-sidebar .devTools-sidebar-body img {
  max-width: 100%;
}
.devTools-sidebar .devTools-sidebar-body .layout-item label {
  font-size: 10px;
}
.devTools-sidebar .devTools-sidebar-body .layout-item label .name {
  display: flex;
  gap: 2px;
}
.devTools-sidebar .devTools-sidebar-body .layout-item label span {
  line-height: 20px;
  color: var(--dvt-color);
}
.devTools-sidebar .devTools-sidebar-button {
  display: block;
  background: var(--dvt-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 10px 23px 10px 23px;
  margin-bottom: 0;
}
.devTools-sidebar .hook-list {
  overflow: hidden;
}
.devTools-sidebar .hook-list .hook-header {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--dvt-primary);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.devTools-sidebar .hook-list .hook-detail {
  display: none;
  background-color: var(--dvt-primary-bg);
  padding: 15px;
}
.devTools-sidebar .hook-list .hook-detail.in {
  display: block;
}
.devTools-sidebar .hook-list .hook-detail a {
  color: var(--dvt-color);
  display: block;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.devTools-sidebar .hook-list .hook-detail a span {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  right: 0;
  color: #fff;
}
.devTools-sidebar #codeigniter_wrap_profiler {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  background: var(--dvt-bg);
  box-sizing: border-box;
  font-family: var(--dvt-font);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler_debug_bar {
  background: var(--dvt-primary-bg);
  color: var(--dvt-color);
  font-weight: 600;
  display: flex;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler_debug_bar #codeigniter_profiler_debug_bar_tab {
  text-align: center;
  text-transform: uppercase;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler_debug_bar #codeigniter_profiler_debug_bar_tab #codeigniter_profiler_title {
  line-height: 1.5em;
  font-size: 12px;
  background: var(--dvt-primary-bg);
  cursor: default;
  display: block;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler_debug_bar #codeigniter_profiler_debug_bar_tab #codeigniter_profiler_title a {
  color: var(--dvt-color);
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-family: var(--dvt-font);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler_debug_bar #codeigniter_profiler_debug_bar_tab #codeigniter_profiler_title a:hover {
  background-color: var(--dvt-primary-bg);
  color: var(--dvt-primary);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler {
  overflow: auto;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler fieldset {
  font-size: 12px;
  margin: 0 0 6px !important;
  padding: 4px !important;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler fieldset legend {
  border: none;
  font-weight: bold;
  padding: 0;
  width: auto;
  font-size: 14px;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler code {
  word-break: break-word;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query .query-sql {
  font-family: var(--dvt-font) !important;
  color: var(--dvt-color);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query .query-sql span {
  font-family: var(--dvt-font) !important;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query .query-sql .highlight-keyword {
  color: var(--dvt-blue);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query .query-sql .highlight-variable {
  color: var(--dvt-red);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query .query-time {
  color: var(--dvt-color);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler .query:nth-child(2n) {
  background-color: var(--dvt-primary-bg);
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler table {
  width: 100%;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler table.main code {
  font-family: inherit;
  padding: 0;
  background: transparent;
  border: 0;
  color: #fff;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler table.main .highlight {
  color: #FFFD70 !important;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler table.main .faded {
  color: #aaa !important;
}
.devTools-sidebar #codeigniter_wrap_profiler #codeigniter_profiler table.main .small {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.devTools-sidebar .profiler-table .profiler-row {
  display: flex;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column {
  font-family: var(--dvt-font);
  flex: 0 0 auto;
  width: 100%;
  padding: 7px 15px;
  text-align: left;
  line-height: 1.5;
  font-size: 12px !important;
  color: var(--dvt-color);
  background: var(--dvt-bg) !important;
  border-bottom: 1px dotted var(--dvt-border-color);
  overflow-wrap: break-word;
  word-break: break-all;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column span,
.devTools-sidebar .profiler-table .profiler-row .profiler-column p {
  overflow-wrap: break-word;
  word-break: break-all;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column .highlight {
  color: #FFFD70 !important;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column .faded {
  color: #aaa !important;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column .small {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column-2 {
  width: 20%;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column-3 {
  width: 30%;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column-4 {
  width: 40%;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column-5 {
  width: 50%;
}
.devTools-sidebar .profiler-table .profiler-row .profiler-column-6 {
  width: 60%;
}
.devTools-sidebar .profiler-table .profiler-row:hover .profiler-column {
  background: var(--dvt-primary-bg) !important;
}
.devTools-sidebar .highlight-method-post {
  color: var(--dv-method-post);
}
.devTools-sidebar .highlight-method-get {
  color: var(--dv-method-get);
}
.devTools-sidebar .highlight-method-delete {
  color: var(--dv-method-delete);
}
.devTools-sidebar .highlight-method-put {
  color: var(--dv-method-put);
}
.devTools-sidebar .highlight-method-path {
  color: var(--dv-method-path);
}
.devTools-sidebar .highlight-method-head {
  color: var(--dv-method-head);
}
.devTools-sidebar .opacity-0 {
  opacity: 0;
}
.devTools-sidebar .opacity-30 {
  opacity: 0.3;
}
.devTools-sidebar .opacity-40 {
  opacity: 0.4;
}
.devTools-sidebar .opacity-50 {
  opacity: 0.5;
}
.devTools-sidebar .opacity-60 {
  opacity: 0.6;
}
.devTools-sidebar .opacity-80 {
  opacity: 0.8;
}
.devTools-sidebar .opacity-90 {
  opacity: 0.9;
}
.devTools-sidebar.dark {
  --dvt-bg: #151f2c;
  --dvt-color: #a1abbd;
  --dvt-primary-bg: #1f2e41;
  --dvt-blue: #5879f1;
  --dvt-red: #f58686;
  --dv-method-post: #e89e0f;
  --dv-method-get: #51e342;
  --dv-method-delete: #ea2323;
  --dv-method-put: #987b1c;
  --dv-method-path: #987b1c;
  --dv-method-head: var(--dvt-color);
}
.devTools-sidebar.dark .devTools-sidebar-body .box {
  --bs-card-bg: #232f3d;
}
.devTools-sidebar.vertical-right {
  top: 0;
}
.devTools-sidebar.vertical-right .tab-content {
  height: calc(100% - 60px);
}
.devTools-sidebar.horizontal {
  --dvt-width: 100%;
  height: 400px;
  bottom: 0;
}
.devTools-sidebar.horizontal .devTools-sidebar-body {
  height: 100%;
  padding-bottom: 0;
}
.devTools-sidebar.horizontal .devTools-btn-action {
  position: absolute;
  z-index: 9999;
  right: 20px;
  top: 5px;
}
.devTools-sidebar.horizontal .tab-content {
  height: calc(100% - 80px);
}
#devTools-tab-layout .layout-item {
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 4px;
}
#devTools-tab-layout .layout-item label {
  cursor: pointer;
  width: 100%;
  margin-bottom: 0;
  position: relative;
}
#devTools-tab-layout .layout-item .img img {
  width: 100%;
}
#devTools-tab-layout .layout-item .name {
  background-color: #F3F4F6;
  text-align: center;
  font-size: 10px;
  padding: 4px 4px 4px 30px;
}
#devTools-tab-layout .layout-item .form-check-input[type=radio] {
  position: absolute;
  left: 33px;
}
@media (min-width: 992px) {
  #devTools-tab-layout .col-lg-2 {
    width: 25%;
  }
}
/*# sourceMappingURL=devtool.css.map */